.img-slide-dimension {
	height: calc(100vh - 150px);
	min-width: 100%;
}
.position-rel {
	position: relative;
}
.position-abs {
	position: absolute;
	top: 30%;
}

.title-slider {
	font-size: 67px;

	color: rgb(143, 32, 134);
	font-weight: 600;
}

.slider-p {
	font-size: 18px;

	color: rgb(143, 32, 134);
	max-width: 450px;
}

@media (min-width: 0px) and (max-width: 992px) {
	.img-slide-dimension {
		height: calc(100vh - 121px);
		min-width: 100%;
	}
}

.slajd-1 {
	background-image: url("../imgSlider/bg-home-min.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.slajd-2 {
	background-image: url("../imgSlider/putovanje.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.slajd-3 {
	background-image: url("../imgSlider/osiguranje-preduzetnika.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.dugme-slajder {
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(245, 211, 103)), to(rgb(232, 179, 35)));
	background-image: -o-linear-gradient(top, rgb(245, 211, 103) 0%, rgb(232, 179, 35) 100%);
	background-image: linear-gradient(-180deg, rgb(245, 211, 103) 0%, rgb(232, 179, 35) 100%);
	height: 55px;
	padding-left: 50px;
	padding-right: 60px;
	font-size: 14px;

	color: rgb(255, 255, 255);
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 200px;
	outline: none;
	border: none;
	position: relative;
}
.strelica-pozicija {
	position: absolute;
	right: 10px;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.box-1 {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	-webkit-box-shadow: inset 40vw 0 300px -51px #feedcfde;
	box-shadow: inset 40vw 0 300px -51px #feedcfde;
}
.box-4 {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	box-shadow: inset 42vw 0 300px -51px #f8dac1ed;
	-webkit-box-shadow: inset 40vw 0 300px -51px #f8dac1ed;
}
.box-2 {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	-webkit-box-shadow: inset 42vw 0 300px -51px #f3f3f3;
	box-shadow: inset 42vw 0 300px -51px #f3f3f3;
}

.box-preduzetnik {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	-webkit-box-shadow: inset 42vw 0 300px -51px #e6ece5e8;
	box-shadow: inset 42vw 0 300px -51px #e6ece5e8;
}
