.bg-newsletter {
	background-color: rgb(237, 237, 237);
	/* height: 450px; */
}
.section-padding-newsletter {
	padding: 40px 0;
}

.input-newsletter {
	height: 59px;
	border-width: 3px;
	border-color: rgb(143, 32, 134);
	border-style: solid;
	border-radius: 100px;
	background-color: rgb(255, 255, 255);
	transition: all .5s;

	font-weight: 600;
	padding-left: 30px;
}

.input-newsletter:focus {
	color: rgb(95, 21, 89);
	font-weight: 600;
	box-shadow: none !important;
	outline: none !important;
	border-width: 3px;
	border-color: rgb(143, 32, 134);
	padding-left: 50px;
}

.input-newsletter::placeholder {
	color: rgb(95, 21, 89);
	font-weight: 600;
	box-shadow: none !important;
	outline: none !important;
	border-width: 3px;
	border-color: rgb(143, 32, 134);
}

.newsletter-title {
	font-size: 47px;

	color: rgb(95, 21, 89);
	font-weight: 600;
	text-align: center;
	margin-bottom: 40px;
}

.button-newsletter {
	border-width: 4px;
	border-color: rgb(143, 32, 134);
	border-style: solid;
	background-color: rgb(143, 32, 134);
	height: 57px;
	border-radius: 100px;
	font-size: 18px;

	color: rgb(255, 255, 255);
	font-weight: 600;
	text-transform: uppercase;
	padding-left: 70px;
	padding-right: 80px;
	margin: 40px 0;
	position: relative;
}
.button-newsletter:hover {
	border-width: 4px;
	border-color: rgb(143, 32, 134);
	border-style: solid;
	background-color: rgb(143, 32, 134);
	color: rgb(255, 255, 255);
}
.button-newsletter:focus {
	border-width: 4px;
	border-color: rgb(143, 32, 134) !important;
	border-style: solid;
	background-color: rgb(143, 32, 134) !important;
	color: rgb(255, 255, 255);
	box-shadow: none !important;
}
.button-newsletter:active {
	border-width: 4px;
	border-color: rgb(143, 32, 134) !important;
	border-style: solid;
	background-color: rgb(143, 32, 134) !important;
	color: rgb(255, 255, 255);
	box-shadow: none !important;
}
.text-center-button-newsletter {
	text-align: center;
}

.newsletter-svg {
	float: right;
	padding-right: 30px;
}
.arrow-right-svg {
	position: absolute;
	right: 40px;
	top: 17px;
}
