/* style for TopNav */
.topNav {
	/* background-color: rgb(143, 32, 134); */
	background-color: #fff;
	height: 100px;
	border: none;
}
.AuraLogoTopNav {
	height: 70px;
	padding-left: 15px;
}
.textTopNavLeft {
	font-size: 14px;
	font-family: "Ubuntu";
	color: #8f2086;
}
.textTopNavRight {
	font-size: 14px;
	font-family: "Ubuntu";
	color: rgb(143, 32, 134);
}
.telefonTopNav {
	padding: 5px 35px;
	border: 1px solid rgb(143, 32, 134);
	border-radius: 100px;
	color: rgb(143, 32, 134) !important;
}
.telefonTopNav:hover {
	text-decoration: none;
}

/* izmjena bootstrapa  */
@media (max-width: 576px) {
	.besplatniBroj {
		display: none;
	}
}

.padd-15px-right {
	padding-right: 15px;
}
