.bg-purple {
	background-color: rgb(143, 32, 134);
	/* height: 1861px; */
	margin-top: -6px;
	margin-bottom: 0px;
}
.section-padding {
	padding: 80px 0px;
}
.usluge-title {
	font-size: 67px;
	font-family: "Ubuntu";
	color: rgb(255, 255, 255);
	font-weight: 600;
}
.hr-style {
	border: 2px solid rgb(245, 211, 103);
	width: 150px;
	float: left;
}

.p-title-usluge {
	font-size: 21px;
	font-family: "Ubuntu Light";
	color: rgb(255, 255, 255);
}

.grafik-usluge {
	padding: 40px 0px;
}

.nase-usluge-title {
	font-size: 43px;
	font-family: "Ubuntu";
	color: rgb(255, 255, 255);
	font-weight: 600;
	text-transform: uppercase;
}

.card-grafik-usluge {
	border: none;
	border-radius: 0px;
	position: relative;
	height: 300px;
	transition: all 0.4s;
}
.card-grafik-usluge-1 {
	border: none;
	border-radius: 0px;
	background: transparent;
	position: relative;
	height: 300px;
	transition: all 0.4s;
}
.card-grafik-usluge:hover {
	background-color: #ffe7a5;
	cursor: pointer;
}

.card-grafik-usluge-back {
	border: none;
	border-radius: 0px;
	position: relative;
	height: 300px;
	background: #ffe7a5;
}

/* card - border RADIUS na karticama lg  */
.card-grafik-usluge-top-left-radius {
	border-top-left-radius: 30px;
}
.card-grafik-usluge-bottom-left-radius {
	border-bottom-left-radius: 30px;
}
.card-grafik-usluge-top-right-radius {
	border-top-right-radius: 30px;
}
.card-grafik-usluge-bottom-right-radius {
	border-bottom-right-radius: 30px;
}

/* card - border na karticama lg  */
.card-grafik-usluge-bottom-right-border {
	border-bottom: 1px solid #cbc1b9;
	border-right: 1px solid #cbc1b9;
}
.card-grafik-usluge-bottom-border {
	border-bottom: 1px solid #cbc1b9;
}

.card-grafik-usluge-right-border {
	border-right: 1px solid #cbc1b9;
}

/* Padding gore dole na carticama */
.card-grafik-usluge-padding {
	padding: 20px 0px 80px 0px;
}

.Shape_3_copy {
	background-color: rgb(153, 134, 117);
	opacity: 0.51;
	position: absolute;
	left: 1195px;
	top: 1939px;
	width: 1px;
	height: 601px;
	z-index: 245;
}

.card-title-grafik-usluge {
	font-size: 18px;
	font-family: "Ubuntu Medium";
	color: rgb(17, 55, 90);
	text-transform: uppercase;
}
.grafik-usluge-1 {
	position: absolute;
	margin: auto;
	bottom: 0;
	top: -50px;
	left: 0;
	right: 0;
	height: 100px;
}
.grafik-1-tekst {
	position: absolute;
	bottom: 40px;
	margin-left: auto;
	margin-right: 0;
	left: 0;
	right: 0;
}

.grafik-usluge-2 {
	position: absolute;
	margin: auto;
	bottom: 0;
	top: -80px;
	left: 0;
	right: 0;
	height: 130px;
}
.grafik-2-tekst {
	position: absolute;
	bottom: 40px;
	margin-left: auto;
	margin-right: 0;
	left: 0;
	right: 0;
}
.grafik-usluge-3 {
	position: absolute;
	margin: auto;
	bottom: 0;
	top: -100px;
	left: 0;
	right: 0;
	height: 150px;
}
.grafik-3-tekst {
	position: absolute;
	bottom: 40px;
	margin-left: auto;
	margin-right: 0;
	left: 0;
	right: 0;
}

.grafik-usluge-4 {
	position: absolute;
	margin: auto;
	bottom: 0;
	top: -50px;
	left: 0;
	right: 0;
	height: 120px;
}
.grafik-4-tekst {
	position: absolute;
	bottom: 40px;
	margin-left: auto;
	margin-right: 0;
	left: 0;
	right: 0;
}
.grafik-usluge-5 {
	position: absolute;
	margin: auto;
	bottom: 0;
	top: -50px;
	left: 0;
	right: 0;
	height: 160px;
}
.grafik-5-tekst {
	position: absolute;
	bottom: 40px;
	margin-left: auto;
	margin-right: 0;
	left: 0;
	right: 0;
}

.grafik-usluge-6 {
	position: absolute;
	margin: auto;
	bottom: 0;
	top: -50px;
	left: 0;
	right: 0;
	height: 150px;
}
.grafik-6-tekst {
	position: absolute;
	bottom: 40px;
	margin-left: auto;
	margin-right: 0;
	left: 0;
	right: 0;
}

@keyframes hideshow {
	0% {
		opacity: 1;
	}
	10% {
		opacity: .5;
	}
	20% {
		opacity: 1;
	}
	30% {
		opacity: .5;
	}
	40% {
		opacity: 1;
	}
	50% {
		opacity: .5;
	}
	60% {
		opacity: 1;
	}
	70% {
		opacity: .5;
	}
	80% {
		opacity: 1;
	}
	90% {
		opacity: .5;
	}
	100% {
		opacity: 1;
	}
}

@keyframes farovi {
	0% {
		opacity: 1;
		fill: #ffd148;
	}
	50% {
		opacity: .1;
		fill: #ffd148;
	}
	100% {
		opacity: 1;
		fill: #ffd148;
	}
}

.prefix__cls-3 {
	animation: hideshow 10s infinite linear;
}

.prefix__cls-5 {
	animation: farovi .6s infinite linear;
}

@keyframes float {
	0% {
		transform: translate(0px, 0px);
	}
	50% {
		transform: translate(10px, 2px);
	}
	80% {
		transform: translate(3px, 6px);
	}
	100% {
		transform: translate(0px, 0px);
	}
}

.grafik-usluge-4 {
	animation: float 5s infinite linear;
}
.card-grafik-usluge-back-tekst {
	font-size: 18px;
	color: rgb(17, 55, 90);
	margin-bottom: 0;
	text-align: center;
	cursor: pointer;
}
.pozicija-tekst-back {
	display: flex;
	flex-direction: column;
	justify-content: center;
	cursor: pointer;
}
.no-copy {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-o-user-select: none;
}
.__react_component_tooltip.type-info {
	color: #fff;
	background-color: #701068;
}
.__react_component_tooltip.type-info.place-top:after {
	border-top-color: #701068;
	border-top-style: solid;
	border-top-width: 6px;
}
.link-kartica-usluge {
	padding-top: 20px;
	color: #701068;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	transition: color .3s;
}
.link-kartica-usluge:hover {
	color: #701068;
}

@keyframes Float {
	from {
		-webkit-transform: translateX(20%) translateZ(0);
		transform: translateX(20%) translateZ(0);
	}
	to {
		-webkit-transform: translateX(-20%) translateZ(0);
		transform: translateX(-20%) translateZ(0);
	}
}

@keyframes FadeIn {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@-o-keyframes FadeIn {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@-moz-keyframes FadeIn {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@-webkit-keyframes FadeIn {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.oblak-sredina {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-animation-duration: 10s;
	animation-duration: 10s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-name: FadeIn, Float, FadeFloat;
	animation-name: FadeIn, Float, FadeFloat;
}

/* sunce */

.sunce-animacija {
	animation-name: spin;
}

/* oblak 2 */

@keyframes Float-2 {
	from {
		-webkit-transform: translateX(0%) translateZ(0);
		transform: translateX(0%) translateZ(0);
	}
	to {
		-webkit-transform: translateX(-40%) translateZ(0);
		transform: translateX(-40%) translateZ(0);
	}
}

.oblak-sredina-2 {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-animation-duration: 5s;
	animation-duration: 5s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-name: FadeIn, Float-2;
	animation-name: FadeIn, Float-2;
}
