.bg-position-footer {
	background-color: rgb(143, 32, 134);
	padding: 80px 0;
}
.title-footer {
	font-size: 20px;

	color: rgb(255, 255, 255) !important;
	font-weight: 600;
	text-transform: uppercase;
}
.logo-footer {
	height: 100px;
}
.li-footer {
	font-size: 16px;
	color: #d47fcd;
	line-height: 3.398;
	cursor: pointer;
	transition: all .3s;
}
.li-footer:hover {
	color: #fff;
	cursor: pointer;
}
.ul-footer {
	padding-top: 50px;
}
.footer-logo-text {
	font-size: 16px;

	color: rgb(255, 255, 255);
	padding: 40px 40px 40px 0;
}

.sub-footer {
	background-color: rgb(78, 17, 73);
}
.copy-text-sub-footer {
	font-size: 16px;
	font-weight: 400;
	color: rgb(255, 255, 255);
	line-height: 3.02;
}
.link-omnia {
	color: rgb(255, 255, 255);
	text-decoration: underline;
	text-decoration-color: #f3c9ef;
}
.link-omnia:hover {
	color: rgb(255, 255, 255);
}
.span-footer {
	color: #f0bceb;
	margin-right: 5px;
}
