@media screen and (min-width: 0px) and (max-width: 992px) {
	.sekcija-proizvodi {
	}
	.bg-proizvodi {
		height: 250px;
	}
	.naslov-proizvodi {
		font-size: 30px;
		margin-top: -50px;
		text-align: center;
	}
	.margin-15px {
		margin-left: 0px;
		margin-right: 0px;
	}
	.list-pozicija-proizvodi {
		margin-top: -60px;
		margin-bottom: 70px;
		margin-left: 0px;
		margin-right: 0px;
	}
	.bg-list-proizvodi {
		padding-top: 60px;
		padding-bottom: 60px;
		padding-left: 15px;
		padding-right: 15px;
	}

	/* glavni div od check komponente */
	.check-komponenta-proizvodi {
		margin-bottom: 0px;
	}
	.col-border-1,
	.col-border-2 {
		border-right: 0px solid #ddd;
		border-bottom: 0px solid #ddd;
		padding-bottom: 20px;
	}
	.col-border-3 {
		border-bottom: 0px solid #ddd;
		padding-bottom: 20px;
	}
	.col-border-4,
	.col-border-5 {
		border-right: 0px solid #ddd;
		padding-top: 0px;
		padding-bottom: 20px;
	}
	.col-border-6 {
		padding-top: 0px;
		padding-bottom: 20px;
	}

	.check-proizvodi {
		height: 60px;
	}
	.opis-check-proizvodi {
		font-size: 14px;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.naslov-list-proizvodi {
		font-size: 30px;
	}
	.hr-naslov-list-proizvodi {
		width: 200px;
		border-top: 3px solid #f5d469;
		margin-top: 5px;
	}
	.paragraf-list-proizvodi {
		font-size: 14px;
	}
}
@media screen and (min-width: 768px) and (max-width: 992px) {
	.bg-proizvodi {
		height: 300px;
	}
}
