@media screen and (min-width: 0px) and (max-width: 320px) {
	.topNav {
		display: none;
	}
}

@media screen and (min-width: 321px) and (max-width: 375px) {
	.fb-icon {
		height: 18px;
	}
	.ig-icon {
		height: 18px;
	}
	.yt-icon {
		height: 18px;
	}
	.padd-15px-right {
		padding-right: 0px;
	}
}
